
.login-form {
  max-width: 300px;
}
.login-form-button {
  width: 50%;
}
.sider {
  overflow: auto;
  height: 100vh;
  left: 0;
}
.content {
  margin: 2px 0 0;
  overflow: initial;
  background-color: white
}
#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
  padding: 0;
}
.site-layout {
  margin-left: 200;
}
.avatar {
  display: block;
  padding-top: 10px;
  margin: auto;
}
.logout {
  text-align: center;
}
.add-button {
  float: right;
  top: 20%;
  bottom: 20%;
  margin-right: 10px;
}
.username {
  text-align: center;
  color: white;
}


